@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

body {
  text-align: center;
  color: #0c4fe1;
  height: 100%; 
}

h1 {
  color: #EABE3F;
  padding: 50px;
  font-size: 40px;
}

.container {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.container2 {
  background-color: none;
  max-width: 80%;
  margin: auto;
  border: 3px solid #EABE3F;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evitar desbordamiento horizontal en dispositivos móviles */
}

.textosuperior {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color:black;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.pregunta {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.msj {
  font-size: 30px;
  height: 30px;
}

.guess-button {
  background-color: #4285f4;
  border: 2px solid #000;
  color: #fff;
  padding: 10px 10px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.guess-button:hover {
  background-color: #3367d6;
}


#words-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .draggable-word {
    margin: 10px;
    border: 1px solid #EABE3F;
    border-radius: 5px;
    cursor: move;
    
  }

  .word-slot {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 2px dashed #EABE3F;
    height: 52px; 
    width: 170px; 
    position: absolute;
    background-color: transparent;
  }
  #head-slot {
    top: 2%;  
    left: 15%; 
   }
#cuello-slot {
  top: 27%;  
  left: 20%; 
   }
#pecho-slot {
  top: 35%; 
  left: 65%; 
  }
#tronco-slot {
  top: 42%;  
  left: 15%; 
  }
 #codo-slot {
  top: 57%;  
  left: 15%; 
  }
 #brazo-slot {
  top: 52%; 
  left: 67%; 
}
#mano-slot {
  top: 68%;
  left: 68%; 
 }
#pierna-slot {
  top: 83%; 
  left: 64%; 
 }
#rodilla-slot {
  top: 73%;  
  left: 20%; 
  }
 #pie-slot {
  top: 87%;  
  left: 17%; 
   }
   @media (max-width: 768px) {
     
    .container, .container2 {
      max-width: 80%; /* Ancho completo en dispositivos móviles */
      flex-wrap: wrap; /* Permitir envolver las imágenes en múltiples líneas */
    }
    
    .guess-button {
      font-size: 15px;
      padding: 5x 5px;
        }
    .msj {
         
      font-size: 20px;
         
        }
        
    .word-slot {
      height: 20px; 
      width:60px; 
    }
    .draggable-word {
      margin: 5px; 
      max-width: 50px; 
      max-height: 20px; 
     
    }
  
    /* Aquí podrías ajustar el tamaño de las imágenes si están definidas en línea */
    .draggable-word img {
      max-width: 50%; 
      height: auto; 
    }
   
  }
  @media (orientation: landscape) {
    /* Estilos específicos para los slots cuando el dispositivo está en horizontal */
    .word-slot {
      height: 20px; 
      width:60px; 
    }

    #head-slot {
      top: 2%;  
      left: 25%; 
     }
     #cuello-slot {
      top: 32%;  
      left: 32%; 
       }
    #pecho-slot {
      top: 37%; 
      left: 65%; 
      }
    #tronco-slot {
      top: 42%;  
      left: 25%; 
      }
     #codo-slot {
      top: 57%;  
      left: 25%; 
      }
     #brazo-slot {
      top: 52%; 
      left: 67%; 
    }
    #mano-slot {
      top: 68%;
      left: 68%; 
     }
    #pierna-slot {
      top: 83%; 
      left: 64%; 
     }
    #rodilla-slot {
      top: 73%;  
      left: 30%; 
      }
     #pie-slot {
      top: 87%;  
      left: 28%; 
       }

    
}